*{
	margin: 0;
	padding: 0;
	font-family: arial;
}

body,html{
	width: 100%;
	height: 100%;
}

.warpper{
	width: 100%;
	height: 100%;
	background: url("/image/background.png");
	background-position: center center;
}

.card-nav{
	position: absolute;
	width: 80%;
	height: 80%;
	min-width: 900px;
	min-height: 500px;
	margin: auto;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-nav>div{
	position: relative;
	text-align: center;
	display: inline-block;
	width: 15%;
	height: 100%;
	margin-right: 3%;
}

.card-nav>div div{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.card-nav .hover-area{
	z-index: 10;
}

.card-nav a{
	position: relative;
	width: 100%;
	height: 100%;
	display: inline-block;
	text-decoration: none;
	color: white;
	font-family: kaiti;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
} 

.card-nav .postgraduate .mask{
	background: blue;
} 

.card-nav .recycle .mask{
	background: green;
} 

.card-nav .information .mask{
	background: #EEEE00;
} 

.card-nav .afe .mask{
	background: pink;
} 

.card-nav .rent .mask{
	background: purple;
} 

.card-nav .aboutus .mask{
	margin-right: 0;
	background: grey;
}

.card-nav>div>div:first-child{
	transition: transform 1s;
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
}

.flip{
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}